/vendor
/.idea
/.vscode
/src/Storage
/node_modules
/public
/src/Public/hot
/src/Public/storage
.env
artisan
composer.lock
docker-compose.override.yml
index.php
Homestead.json
Homestead.yaml
npm-debug.log
package.lock
yarn-error.log
yarn.lock
phpcs.xml
